# Exercícios

### Semana 06

**[1]** Considere a progressão geométrica (PG) $1, 2, 4, 8, 16, 32, ...$ e um inteiro positivo $n$. Deseja-se:

a) Imprimir o $n$ primeiros termos.

In [ ]:
n = int(input("Me dê um valor positivo pra n: "))
number = 1
for n in range (1, n+1):
    print(number)
    number *= 2

Me dê um valor positivo pra n: 2
1
2

b) Calcular e imprimir a soma dos $n$ primeiros termos da PG sem utilizar a fórmula da soma por meio de um programa Python.

In [14]:
n = int(input("Me dê um valor positivo pra n: "))
number = 1
sum = 0
for n in range (1, n+1):
    sum += number
    number *= 2
print(sum)

Me dê um valor positivo pra n: 3
7

**[2]** Imprimir os $n$ primeiros termos das sequências definidas pelas relações de recorrência:

a) $y_{k+1} = y_{k} + k$, em que $k = 1,2,3...$ e $y_{1}=1$

$y_{1} = 1$ 

$y_{1+1} = y_{1} + 1$ => $ y_{2} = 1 + 1$ => $y_{2} = 2$

$y_{2+1} = y_{2} + 2$ => $y_{3} = 2 + 2$ => $y_{3} = 4$

$y_{3+1} = y_{3} + 3$ 

...

$y_{k+1} = y_{k} + k$

In [ ]:
n = int(input("manda ai um valor positivo pra n: "))
y = 1
k = 1
for times in range(n):
    print(y)
    y += k
    k +=1

manda ai um valor positivo pra n: 3
1
2
4

b) $y_{k+1} = y_{k} + (2k + 1)$, em que $k = 0,1,2...$ e $y_{0}=1$

In [12]:
n = int(input("manda ai um valor positivo pra n: "))
y = 1
k = 0
for times in range(n):
    print(y)
    y += (2*k+1)
    k +=1

manda ai um valor positivo pra n: 3
1
2
5

c) $y_{k+1} = y_{k} + 3k^2 + 3k + 1$, em que $k = 0,1,2...$ e $y_{0}=1$

In [13]:
n = int(input("manda ai um valor positivo pra n: "))
y = 1
k = 0
for times in range(n):
    print(y)
    y += (3*k**2 + 3*k + 1)
    k +=1

manda ai um valor positivo pra n: 3
1
2
9

d) $y_{k+1} = 2y_{k}$, em que $k = 1,2...$ e $y_{1}=1$

In [11]:
n = int(input("manda ai um valor positivo pra n: "))
y = 1
k = 0
for times in range(n):
    print(y)
    y = 2*y
    k +=1

manda ai um valor positivo pra n: 2
1
2

**[3]** Calcular as somas:

a) $S = \sum_{k=1}^{20} 2k$

In [10]:
k = 2
sum = 0
for y in range (1, 21):
    temp = 0
    temp = k*y
    sum += temp
print("A soma dá " + str(sum))

A soma dá 420

b) $T = \sum_{k=5}^{50} k^2$

In [9]:
sum = 0
for k in range (5, 51):
    temp = k**2
    sum += temp
print("A soma dá " + str(sum))

A soma dá 42895

c) $U = \sum_{k=0}^{100} k$

In [ ]:
sum = 0
for k in range (0, 101):
    sum += k
print("A soma dá " + str(sum))

A soma dá 5050

**[4]** Partindo-se de um único casal de coelhos filhotes recém-nascidos e supondo que um casal de coelhos torna-se fértil após dois meses de vida e, a partir de então, produz um novo casal a cada mês e que os coelhos nunca morrem, quantidade de casal de coelhos após $n$ meses é dado pelo $n$-ésimo termo da seguinte sequência:

$F_{n} = F_{n-2} + F_{n-1}$, para $n \geq 2$

$F_{0} = 1$

$F_{1} = 1$

Sobre esta sequência:

a) Explique como os termos dessa série correspondem à solução do problema proposto.

    Cada termo da sequência corresponde a quantidade de coelhos vivos em n meses a partir do casal primário, sendo n o tempo em meses.

b) Escreva um programa para calcular a quantidade de casais de coelhos após $n$ meses.

In [8]:
n = int(input("Me da um número inteiro positivo: "))
t1=1 
t2=1 
lista = [] 
for a in range(n): 
    
    #vamos partir uma mini sequencia
    lista.append(t1) #adiciona a lista o 1 elemento a cada vez que rodar o loop
    
    t3=t1+t2 #define o terceiro termo como sendo a soma dos dois últimos
    
    #agora vamos avançar uma posição na sequencia
    t1=t2  #define a posição 1 com o valor 2 
    t2=t3  #define a posição 2 com o valor 3
    
print("A quantidade de casais de coelhos após", n, "meses é ", lista[n-1]) #lista com n primeiros números inteiros da sequência fibonacci

Me da um número inteiro positivo: 10
A quantidade de casais de coelhos após 10 meses é  55

**[5]** Tabelar $n!$ para $n$ variando de 0 a 10. Por definição, $k! = k(k-1)(k-2)...(1)$ para $k \in N^{*}$ e $0! = 1$.

In [ ]:
n = int(input("Me da um número natural pra n: "))
list = []
for k in range(n, 0, -1):
  list.append(k)
count = 0
format = ''
for e in list:
  if count == len(list)-1:
    format += str(e)
  else:
    format += (str(e) + ' x ')
    count += 1
print("Tá aí, " + str(n) + '! é ' + str(format))

Me da um número natural pra n: 3
Tá aí, 3! é 3 x 2 x 1

**[6]** Em um campeonato de futebol cada time tem uma lista oficial de 23 jogadores. Cada time prepara uma relação contendo o peso e a idade de cada um de seus jogadores. Os 40 times que participaram do torneio enviam listas para o CPD da confederação. Deseja-se a seguinte informação.

a) o peso médio e a idade média para cada um dos times.

In [ ]:
#considerando que há uma lista chamada times contendo 40 listas, uma de cada time, cada uma com duas outras listas, peso e idade, *nessa ordem*
#Exemplo
#times = [[[67.42, 63.20, 70.60,...], [27, 18, 23, ...]], [[62.73, 65.42, 69.38,...], [24, 21, 25, ...]], ...]

#abrindo arquivo com lista chamada "times"
from lista import *

#peso médio por equipe

#extraindo uma lista de outras
new_pesos_equipes = []
for i in times:
  new_pesos_equipes.append(i[0])
#print(new_pesos_equipes)

#tirando média
soma_pesos_equipes = []
for i in new_pesos_equipes:
  sum = 0
  for b in i:
    sum += b
  soma_pesos_equipes.append(sum)
for c in soma_pesos_equipes:
  avg = round(c/23, 2)
  print("O peso médio da equipe " + str(soma_pesos_equipes.index(c)+1) + ' é '+ str(avg))

#idade média por equipe

#extraindo uma lista de outras
new_idades_equipes = []
for i in times:
  new_idades_equipes.append(i[1])

#tirando média
soma_idades_equipes = []
for i in new_idades_equipes:
  sum = 0
  for b in i:
    sum += b
  soma_idades_equipes.append(sum)
count = 0
for c in soma_idades_equipes:
  count += 1
  avg = round(c/23)
  print("A idade média da equipe " + str(count) + ' é '+ str(avg))

O peso médio da equipe 1 é 73.54
O peso médio da equipe 2 é 74.12
O peso médio da equipe 3 é 74.02
O peso médio da equipe 4 é 74.86
O peso médio da equipe 5 é 73.48
O peso médio da equipe 6 é 73.93
O peso médio da equipe 7 é 72.87
O peso médio da equipe 8 é 74.88
O peso médio da equipe 9 é 74.13
O peso médio da equipe 10 é 74.17
O peso médio da equipe 11 é 74.71
O peso médio da equipe 12 é 71.46
O peso médio da equipe 13 é 70.69
O peso médio da equipe 14 é 74.1
O peso médio da equipe 15 é 74.63
O peso médio da equipe 16 é 71.14
O peso médio da equipe 17 é 73.84
O peso médio da equipe 18 é 70.14
O peso médio da equipe 19 é 73.37
O peso médio da equipe 20 é 72.64
O peso médio da equipe 21 é 74.02
O peso médio da equipe 22 é 73.13
O peso médio da equipe 23 é 71.59
O peso médio da equipe 24 é 73.95
O peso médio da equipe 25 é 72.11
O peso médio da equipe 26 é 74.52
O peso médio da equipe 27 é 71.97
O peso médio da equipe 28 é 72.09
O peso médio da equipe 29 é 73.95
O peso médio da equipe 30 é 74.4
O peso médio da equipe 31 é 72.78
O peso médio da equipe 32 é 74.21
O peso médio da equipe 33 é 71.72
O peso médio da equipe 34 é 73.7
O peso médio da equipe 35 é 73.41
O peso médio da equipe 36 é 72.7
O peso médio da equipe 37 é 74.24
O peso médio da equipe 38 é 74.03
O peso médio da equipe 39 é 71.91
O peso médio da equipe 40 é 71.62
A idade média da equipe 1 é 27
A idade média da equipe 2 é 27
A idade média da equipe 3 é 27
A idade média da equipe 4 é 27
A idade média da equipe 5 é 28
A idade média da equipe 6 é 27
A idade média da equipe 7 é 26
A idade média da equipe 8 é 25
A idade média da equipe 9 é 28
A idade média da equipe 10 é 28
A idade média da equipe 11 é 27
A idade média da equipe 12 é 28
A idade média da equipe 13 é 26
A idade média da equipe 14 é 28
A idade média da equipe 15 é 27
A idade média da equipe 16 é 26
A idade média da equipe 17 é 25
A idade média da equipe 18 é 26
A idade média da equipe 19 é 27
A idade média da equipe 20 é 26
A idade média da equipe 21 é 25
A idade média da equipe 22 é 26
A idade média da equipe 23 é 29
A idade média da equipe 24 é 27
A idade média da equipe 25 é 26
A idade média da equipe 26 é 25
A idade média da equipe 27 é 26
A idade média da equipe 28 é 27
A idade média da equipe 29 é 28
A idade média da equipe 30 é 28
A idade média da equipe 31 é 25
A idade média da equipe 32 é 28
A idade média da equipe 33 é 27
A idade média da equipe 34 é 26
A idade média da equipe 35 é 27
A idade média da equipe 36 é 25
A idade média da equipe 37 é 25
A idade média da equipe 38 é 26
A idade média da equipe 39 é 27
A idade média da equipe 40 é 27

b) o peso médio e a idade média de todos os participantes.

In [ ]:
#considerando que há uma lista chamada times contendo 40 listas, uma de cada time, cada uma com duas outras listas, peso e idade, *nessa ordem*
#Exemplo
#times = [[[67.42, 63.20, 70.60,...], [27, 18, 23, ...]], [[62.73, 65.42, 69.38,...], [24, 21, 25, ...]], ...]

#abrindo arquivo com lista chamada "times"
from lista import *

#peso médio todos os participantes

#extraindo uma lista de outras
new_pesos_equipes = []
for i in times:
  new_pesos_equipes.append(i[0])

#tirando média
soma_pesos_equipes = []
for i in new_pesos_equipes:
  sum = 0
  for b in i:
    sum += b
  soma_pesos_equipes.append(sum)

sum = 0
for c in soma_pesos_equipes:
  sum += c
avg = round(sum/(40*23), 2)
print("O peso médio de todos os participantes é "+ str(avg))

#idade média todos os participantes

#extraindo uma lista de outras
new_idades_equipes = []
for i in times:
  new_idades_equipes.append(i[1])

#tirando média
soma_idades_equipes = []
for i in new_idades_equipes:
  sum = 0
  for b in i:
    sum += b
  soma_idades_equipes.append(sum)

sum = 0
for c in soma_idades_equipes:
  sum += c
avg = round(sum/(40*23))
print("A idade média de todos os participantes é "+ str(avg))

O peso médio de todos os participantes é 73.22
A idade média de todos os participantes é 27

**[7]** Escreva um programa para calcular a soma:

$1 - \frac{1}{2} + \frac{1}{4} - \frac{1}{6} + \frac{1}{8} - ... + \frac{1}{200}$

In [1]:
sum = 0
for i in range(1,201):
  if i%2 == 0: #Se i é par
    sum -= 1/i
  else:
    sum += 1/i
print("A soma é " + str(sum))

A soma é 0.6906534304818243

### Exercício Desafio (só para quem já sabe programar)

**[8]** Considere a sequência a seguir.

```
1
2  4
3  9  27
4  16 64  256
...
n  n^2 n^3 ... n^n
```

A sequência deve ser lida desconsiderando a formatação: $1, 2, 4, 3, 9, 27, ..., n^2, n^3, n^{n} $.

Desconsiderando a formatação (como a mudança de linhas), dado um número $n > 0$,

a) Escreva um programa que retorne essa sequência.

b) Com uma única linha de código, escreva uma programa que retorne essa sequência.

In [ ]:
#letra a
n = int(input("Me dá um número natural diferente de 0. "))
lista = []
for i in range(1, n+1):
  count = 2
  temp = i
  for k in range(i):
    lista.append(temp)
    temp = i
    temp = temp**count
    count +=1
print("A sequência é: " + str(lista)[1:-1])

Me dá um número natural diferente de 0. 3
A sequência é: 1, 2, 4, 3, 9, 27

In [16]:
#letra b
n = int(input("Me dá um número natural diferente de 0. "))


for i in range(1, n+1): [print((i)**k) for k in range(1, i+1)]

Me dá um número natural diferente de 0. 3
1
2
4
3
9
27